### Aqui comienza la primera parte de strings

In [1]:
strg = "Hello 'World'"

In [2]:
# type() muestra el tipo del argumento recibido
type(strg)

str

In [3]:
print(strg)

Hello 'World'

In [4]:
#Con "\n" hacemos un salto de linea. Notese que no hace falta separar \n del resto del string
print("Esta es la linea 1 \ny esta la linea 2")

Esta es la linea 1
y esta la linea 2

In [5]:
#Con "\t" tabulamos. Al igual que antes, no hace falta separar \t del resto del string
print('aplicamos un \tespacio de tab')

aplicamos un 	espacio de tab

In [7]:
#Usando "r" delante del string evitamos el uso de caracteres especiales
print('C:\nombres\clases \n')
print(r'C:\nombres\clases')

C:
ombres\clases

C:\nombres\clases

### Las 2 siguientes celdas no salen en el video

In [12]:
#Concatenar strings se puede hacer de dos formas. Con "," o con "+"
#Con "," el espacio entre string se incluye por defecto
#Con "+" hay no hay espacio
print('hola','mundo') #Ejemplo con ","
print('hola'+' mundo') #Ejemplo con "+"

hola mundo
hola mundo

### Se puede multiplicar un String con un operador

In [4]:
palabra = "Calabaza";
print(palabra*3);

CalabazaCalabazaCalabaza

### A partir de aqui comienza la parte 2 de strings

In [20]:
#Con 3 dobles comillas, podemos ahorrarnos los saltos "\n" pero no las tabulaciones \t
print("""Linea 1
linea 2
linea 3 con \t tabulacion""")

Linea 1
linea 2
linea 3 con 	 tabulacion

In [ ]:
#Para poder situarlo todo a mismo margen sin salto incluimos "\"
# "\" se incluye al inicio
print("""\
Linea 1
linea 2
linea 3 con \t tabulacion""")

In [25]:
#Una variable con un string puede albergar un salto de linea, pero solo se mostrara con la impresion
string = "Este en un string con \nsalto de linea"
#ejemplo sin impresion
string

'Este en un string con \nsalto de linea'

In [24]:
#ejemplo con impresion
print(string)

Este en un string con
salto de linea

### Aqui comienzan los indices de las cadenas

In [3]:
#Se puede acceder a un caracter por su indice en el string

#ejemplo
#Cadena
frase = "El cielo es soleado"

#Impresion por caracteres
print(frase[0])
frase[1]

E

'l'

In [7]:
#Los indices tambien pueden recorrer el string en sentido opuesto si usamos valores negativos

print(frase[-1])
print(frase[-3])

o
a

In [26]:
#Tambien se puede recorrer un intervalo. El ultimo valor del intervalo no es incluido; por ejemplo, 1:3 imprimiria los indices
#1 y 2 pero no el 3.

print(frase[0:-1])
print(frase[1:5])

#Si pretendemos llegar al final, no poner nada al final del intervalo.
print(frase[3:])

#Tambien se puede hacer a la inversa
print(frase[:8])

El cielo es solead
l ci
cielo es soleado
El cielo

In [4]:
#Para contar los caracteres usar el metodo len()
print(len(frase))

19

Para concatenar un string y un numero, usar una ","

In [3]:
num = 2;
print("Tenemos", num, "manzanas");

Tenemos 2 manzanas