### Tuplas. Vid 48

Las tupas son un tipo de listas inmutables, es decir, cuyos elementos
no cambian de valor

Para crear una tupla, se asignan valores entre paréntesis; o se asigna mas de un valor siempre y cuando sea mas de 1, o no seria una tupla sino una variable

In [4]:
# ejemplo de tupla sin parentesis
t = 1,2,3,4;
print(t);

(1, 2, 3, 4)

In [33]:
# Ejemplo de tupla con paréntesis
t = ([1,2,3],"estudiante",3,4, 1, 1);
print(t);

([1, 2, 3], 'estudiante', 3, 4, 1, 1)

In [8]:
# ejemplo de error (declarar e inicializar tupla)
t[0] = 4

TypeError: 'tuple' object does not support item assignment

Las tuplas suelen usarse mas bien para trabajar y analizar con integridad los datos que contiene

In [11]:
len(t)

4

In [12]:
len(t[0])

3

In [29]:
t.index("estudiante")

1

In [34]:
t.count(1)

2

Append() no se puede usar con tuplas debido a que son inmutables

In [35]:
t.append('bla')

AttributeError: 'tuple' object has no attribute 'append'